.layout{
    display: flex;
    position: absolute;
    min-height: 100%;
    width: 100%;
    background-color: aliceblue;
}

.left-sidebar{
    position: relative;
    min-height: 100%;
    width: 50px;
    flex:0 0 50px;
    background-color: rgb(46, 46, 46);
}

.right-sidebar{
    flex:1;
    position: relative;
    background-color: antiquewhite;
}
.top-menubar{
    /* background-color: rgb(54, 54, 54); */
    /* height: 50px; */
    display: flex;
    flex-direction: row;
    /* padding :10px; */
    /* justify-content: left;
    align-items: center; */
}
.body-content{
    background-color: antiquewhite;
}

.menu-left, .menu-right{
    display: flex;
    align-items: center;
    padding:10px;
}
.menu-left{
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
.menu-right{
    justify-content: space-evenly;
    align-items: center;
    width: 50%;

}
.menu-align{
    padding-left:10px;
}

.separator{
    display: none;
    width: 100%;
    border:0;
    border-top: 1px solid white;
    margin: 0;
}

@media (max-width:1000px) {
    .top-menubar{
        flex-direction: column;
        height:100px;
    }
    .menu-left, .menu-right{
        width: 100%;
        flex:1;
    }
    .separator{
        display: block;
    }
    .left-sidebar{
        
    }
}

.search-container {
    position: relative;
    display: inline-block;
  }
  
  .search-box {
    position: relative;
    width:250px;
    z-index: 1000;
  }

  @media (max-width:500px) {
    .search-box{
        width:150px;
    }
}

@media (max-width:350px) {
    .search-box{
        width:100px;
    }
}
  
  
  

