.services{
    padding: 2rem;
}

.card,.card-rev{
    display: flex;
    flex-direction: row;
    width:100%;
}
.flex{
    width:50%;
}

.content{
    padding: 1rem;
}

@media (max-width:900px) {
    .card-rev{
        flex-direction: column-reverse;
    }
    .card{
        flex-direction: column;
    }
    .flex{
        width:100%;
        flex:1;
    }
}

.s-img{
    height: 100%;
    width: 100%;
}
