.contact{
    background-color: rgb(241, 240, 235);
    padding:2rem;
    color:black;
}
.item{
    margin-top: 50px;
}

input,textarea{
    width:50%;
    background-color: rgb(241, 240, 235);
    border-color: rgba(0, 0, 0, 0.1);
    color:black;
}
label{
    color:rgba(0, 0, 0, 0.5);
}

@media (max-width:900px) {
    input,textarea{
        width:100%;
    }
    
}