.t-img{
    width: 50px;
    height: 50px;
}
.t-node{
    font-size: small;
}
.t-name{
    font-weight: bold;
}

.card{
    overflow: scroll;
}

.tab-head{
    min-width: 100px;
}
.tab-head2{
    min-width: 150px;
}